{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/bootstrap-grid.min.css' %}">
    <title>Title</title>
</head>
<body>
<header>
<nav>
<div class="container">
    <ul class="header__menu">
        <li class="header__logo">
            <a href="#">
                <img src="{% static 'img/icons/government.svg' %}" alt="">
            </a>
        </li>
        <li >
            <a class="header__link  " href="#">
               <span> Портал Правосудия</span>
            </a>

        </li>
        <li >
            <a class="header__link header__menu-link" href="#">О нас</a>
        </li>
        <li >
            <a class="header__link header__menu-link" href="#">Новости</a>
        </li>
        <li >
            <a class="header__link header__menu-link" href="#">Вакансии</a>
        </li>
        <li >
            <a class="header__link header__menu-link" href="#">Контакты</a>
        </li>
        <li class="header__finder">
            <img src="" alt="">
        </li>
        <li >
            <div>
                <a href="">
                    <img src="{% static 'img/icons/call.svg' %}" alt="">
                </a>
                <a class="header__phone " href="tel:+40726458782">
                    +40 726 458 782
                </a>
            </div>

        </li>

    </ul>
</div>
</nav>


</header>

{% block content %}

{% endblock %}


<footer>
    <div class="container">
        <div class="footer__block">
            <div class="col-md-4">
                <div class="footer__menu"  >
                    <ul class="footer__list">
                        <li >
                            <a class="header__link header__menu-link footer__link" href="#">О нас</a>
                        </li>
                        <li >
                            <a class="header__link header__menu-link footer__link" href="#">Новости</a>
                        </li>
                        <li >
                            <a class="header__link header__menu-link footer__link" href="#">Вакансии</a>
                        </li>
                        <li >
                            <a class="header__link header__menu-link footer__link" href="#">Контакты</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">
                <input placeholder="Поиск" class="footer__input" type="text ">
                <button class="footer__btn"> Найти</button>
                <div class="footer__contacts">
                    <div class="footer__location">
                        <a class="" href="">
                            <img src="{% static 'img/icons/pin.svg' %}" alt="">
                            г.Бишкек, ул.Абдымомунова 220
                        </a>
                    </div>
                    <div class="footer__phone">
                        <a class="header__phone  " href="tel:+40726458782">
                            <img src="{% static 'img/icons/call.svg' %}" alt="">
                            +40 726 458 782
                        </a>
                    </div>



                </div>
            </div>
            
            
            <div class="col-md-4">
<div >


    <ul class="footer__social">
        <li class="footer__logo">
            <a href="">
                <img src="{% static 'img/icons/twitter.svg' %}" alt="">
            </a>
        </li>
        <li class="footer__logo">
            <a href="">
                <img src="{% static 'img/icons/facebook.svg' %}" alt="">
            </a>
        </li>
        <li class="footer__logo">
            <a href="">
                <img src="{% static 'img/icons/youtube.svg' %}" alt="">
            </a>

    </ul>

</div>
            </div>
            </div>

        </div>


    </div>
</footer>

</body>
</html>