
{% extends 'index.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style/style2.css' %}">
    <link rel="stylesheet" href="{% static 'style/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/bootstrap-grid.min.css' %}">
</head>
<body>
<section class="menu">
    <div class="container">
        <div class="row menu__row">
            <div class="col-md-3">
                <div class="item cont">
                    <div class="front">
                        <div class="card">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"></p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <p>unhover<br />me</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">

                </div>
            </div>
            <div class="col-md-3">
                <div class="item">

                </div>
            </div>
            <div class="col-md-3">
                <div class="item">

                </div>
            </div>
            </div>
        <div class="row menu__row">
            <div class="col-md-3">
                <div class="item">

                </div>
            </div>
            <div class="col-md-3">
                <div class="item">

                </div>
            </div>
            <div class="col-md-3">
                <div class="item">

                </div>
            </div>
            <div class="col-md-3">
                <div class="item">

                </div>
            </div>
            </div>
        <div class="row menu__row">
            <div class="col-md-3">
                <div class="item">

                </div>
            </div>
            <div class="col-md-3">
                <div class="item">

                </div>
            </div>
            <div class="col-md-3">
                <div class="item">

                </div>
            </div>
            <div class="col-md-3">
                <div class="item">

                </div>
            </div>
            </div>





        <div class="cont">
            <div class="front">
                <p>hover<br />me</p>
            </div>
            <div class="back">
                <p>unhover<br />me</p>
            </div>
        </div>
    </div>
</section>

</body>

{% endblock %}      
