
{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style/style2.css' %}">
    <link rel="stylesheet" href="{% static 'style/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/bootstrap-grid.min.css' %}">
</head>
<body>
    <section class="menu">
        <div class="container">
            <div class="row menu__row">
                <div class="col-md-4">
                    <div class="item cont">
                        <div class="front">
    <span class="font__text">
        С М И
    </span>
                        </div>
                        <div class="back">
                            <div class="back__img">
    
                            </div>
                            <div class="back__body">
                                <div class="back__title">
                                    Title
                                </div>
                                <div class="back__description">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                    Aut debitis fuga in labore
                                    magni maiores nihil nisi
                                    reprehenderit temporibus totam!
                                    <a class="back__link" href="">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item cont">
                        <div class="front">
    <span class="font__text">
        С М И
    </span>
                        </div>
                        <div class="back">
                            <div class="back__img">
    
                            </div>
                            <div class="back__body">
                                <div class="back__title">
                                    Title
                                </div>
                                <div class="back__description">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                    Aut debitis fuga in labore
                                    magni maiores nihil nisi
                                    reprehenderit temporibus totam!
                                    <a class="back__link" href="">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item cont">
                        <div class="front">
    <span class="font__text">
        С М И
    </span>
                        </div>
                        <div class="back">
                            <div class="back__img">
    
                            </div>
                            <div class="back__body">
                                <div class="back__title">
                                    Title
                                </div>
                                <div class="back__description">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                    Aut debitis fuga in labore
                                    magni maiores nihil nisi
                                    reprehenderit temporibus totam!
                                    <a class="back__link" href="">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                </div>
            <div class="row menu__row">
                <div class="col-md-4">
                    <div class="item cont">
                        <div class="front">
    <span class="font__text">
        С М И
    </span>
                        </div>
                        <div class="back">
                            <div class="back__img">
    
                            </div>
                            <div class="back__body">
                                <div class="back__title">
                                    Title
                                </div>
                                <div class="back__description">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                    Aut debitis fuga in labore
                                    magni maiores nihil nisi
                                    reprehenderit temporibus totam!
                                    <a class="back__link" href="">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item cont">
                        <div class="front">
    <span class="font__text">
        С М И
    </span>
                        </div>
                        <div class="back">
                            <div class="back__img">
    
                            </div>
                            <div class="back__body">
                                <div class="back__title">
                                    Title
                                </div>
                                <div class="back__description">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                    Aut debitis fuga in labore
                                    magni maiores nihil nisi
                                    reprehenderit temporibus totam!
                                    <a class="back__link" href="">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item cont">
                        <div class="front">
    <span class="font__text">
        С М И
    </span>
                        </div>
                        <div class="back">
                            <div class="back__img">
    
                            </div>
                            <div class="back__body">
                                <div class="back__title">
                                    Title
                                </div>
                                <div class="back__description">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                    Aut debitis fuga in labore
                                    magni maiores nihil nisi
                                    reprehenderit temporibus totam!
                                    <a class="back__link" href="">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                </div>
    
    
    
    
    
    
        </div>
    </section>
    
    </body>

{% endblock %}      
