body{
    background: #000;
}

.cont {
    overflow:hidden;

    font-size:2rem;

}
.cont, .front, .back {
    width:200px;
    height:230px;
}
.front, .back {
    float:left;
    transition: all 0.5s;
}
.cont:hover .front  {
    margin-left:-290px;

}
.front{
background: #5d6bbd;

    text-align: center;
    padding: 80px 0;
    font-weight: bold;
}
.font__text{
    color: #ffffff;
    font-size: 30px;
}

.back {
    margin-left:-400px;


}
.back__body{
    padding: 15px 0;

}
.back__img{
    height: 130px;
    background: url("https://www.sostav.ru/images/news/2019/10/16/xviq5oud_md.jpg") center center/cover no-repeat;
}
.back__title{
    font-size: 15px;
    color: #000000;
    font-weight: bold;

}
.back__link{
    color: #5d6bbd;

}
.back__link:hover{
    text-decoration: #5d6bbd;
}
.back__description{
    font-size: 10px;
}
.cont:hover .back {
    margin-left:0;
}
p {
    margin:10px;
}

.menu__row{
    margin: 100px auto;
}
.item{
    overflow:hidden;
    width: 200px;
    height: 230px;
    /*border: 1px solid ;*/
}
.item__main{

}
